* {
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}

.index-h1,
.index-ul {
    text-align: center;
}

img {
    height: auto;
    width: 400px;
}

.index-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}